.cp-add-row {
	width : 68%;
	margin-top : 5px
}
.cp-add-row-labal{
	width : 30%;
	float : left;
	align-text:right
}
.cp-add-row-premise {
	width : 61%;
	margin-top : 5px
}
.cp-add-row-premise-companyId {
	width : 10%;
	margin-top : 5px
}

.cp-add-row-barn {
	width : 58%;
	margin-top : 5px
}
.cp-add-row-barn-premise-companyId {
	width : 10%;
	margin-top : 5px
}